* {
	margin: 0;
	padding: 0;
}

body {
	background: #E2E2E2;
	font-family: 'Arial';
	text-align: center;
}

.topo {
	background-color: #9C9090;
	color: white;
	padding: 20px;
}

.conteudo {
	background-color: white;
	padding: 20px;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.conteudo div {
	margin: 10px 10px 10px 0;
	padding: 8px
}

.opcoes {
	border: 1px solid #E2E2E2;
	border-radius: 8px;
}

label {
	display: block;
	margin-bottom: 4px;
	text-align: left;
	color: black;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea, select {
	width: 97%;
	padding: 8px;
	border: 1px solid #BAB2B2;
	border-radius: 8px;
	font-size: 16px;
}

button, input[type='button'] {
	width: 130px;
	padding: 8px;
	font-size: 16px;
	font-family: 'Arial';
	font-weight: 'bold';
	color: white;
	background-color: #9C9090;
	border: 0px;
	border-radius: 8px;
	margin: 4px;
	cursor: pointer;
	transition: 0.5s;
}

button:hover, input[type='button']:hover {
	background-color: #E2E2E2;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	color: black;
	border-radius: 10px 0px;
}